<html>
    <head>
        <title>{{ title }} - Example</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='example.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='schoen.css') }}">
    </head>
    <body>
    <h1>Construct workout example</h1>
    <br>
    <label for="ftp">FTP</label><br>
    <div style='width: 60px'>
      <p style="border:1px; border-style:solid; border-color: black; padding: 1em; margin:  20px auto;">300</p>
    </div>
    <br><br>
    <label for="workoutName">Workout name</label><br>
    <div style='width: 160px'>
      <p style="border:1px; border-style:solid; border-color: black; padding: 1em; margin:  20px auto;">Example_Workout</p>
    </div>
    <br><br>
    <label for="workoutDesc">Workout description</label><br>
    <div style='width: 230px'>
      <p style="border:1px; border-style:solid; border-color: black; padding: 1em; margin:  20px auto;">Put anything you like in here!</p>
    </div>
    <br><br>
    <label for="workoutGen">Workout Generator</label><br>
    <div style='width: 260px;'>
      <p style="border:1px; border-style:solid; border-color: black; padding: 1em; margin:  20px auto;">add(600, [50,65],90)
        <br>
        inter(5, 45, 100, 300, 65)
        <br>
        add(300, 50, 80)
        <br>
        add(600, [65,50])
        <br>
        text(1,'let the games begin')</p>
    </div>
    <br><br>
    Now click the buttons below to show or generate the workout
    <br><br>
    <button type="button" id="button_show">Show the Workout!</button>
    <button type="button" id="button_gen">Generate .zwo file !</button>
    <div id="plot" style="width:1700px;height:500px;"></div>
    </body>
</html>